.buildControlStyle {
  display: flex;
  justify-content: center;
  text-align:center;
  align-items: center;
  margin: 6px 0;
}
.buildControlStyle Button{
  display: block;
  fontStyle: inherit;
  padding: 5px;
  margin: 0 5px;
  width: 80px;
  height:35px;
  border: 1px solid rgb(245, 228, 228);
  cursor: pointer;
  outline: none;
  border-radius: 3%;
  font-size: 16px;
}
.buildControlStyle Button :disabled{
    background-color: #C7C6C6;
    border: 1px solid #7E7365;
    color: black;
    cursor: default;
    }
.buildControlStyle button:hover:disabled{
    background-color: rgb(157, 115, 115);
    color: #ccc;
    cursor: not-allowed;
  }

.labelStyle{
  padding: 10px;
  font-weight: bold;
  width: 80px;
  color:#e3dede;
  font-size:20px;
}
.buildControlStyle .more{
  background-color: rgb(245, 228, 228);
}
.buildControlStyle .more:active ,.buildControlStyle .more:hover{
  background-color: rgb(169, 101, 103);
}
.buildControlStyle .less{
  background-color: rgb(245, 228, 228);
}
.buildControlStyle .less:active ,.buildControlStyle .less:hover{
  background-color: rgb(169, 101, 103);
}
