.Button {
    border: none;
    color: #560000;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px !important;
    margin: 10px;
    font-weight: bold;
    border-radius: 3%;
    background-color: rgb(253, 234, 181);
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}
.Button:hover{
  background-color: rgb(255, 218, 110);
}
.Button:disabled{
  background-color: #ccc;
  cursor: not-allowed;
  color: black;
}
